#include "winver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 6,1,0,0
 PRODUCTVERSION 6,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
		BLOCK "040904b0"
		BEGIN
		    VALUE "Comments", "(C) 2015-2023 Jody Bruchon, published under The MIT License"
		    VALUE "CompanyName", "Jody Bruchon"
		    VALUE "FileDescription", "jodyhash File Data Hashing Tool"
		    VALUE "FileVersion", "6,1,0,0"
		    VALUE "InternalName", "jodyhash"
		    VALUE "LegalCopyright", "(C) 2015-2023 Jody Bruchon"
		    VALUE "OriginalFilename", "jodyhash.exe"
		    VALUE "ProductName", "jodyhash"
		    VALUE "ProductVersion", "6,1,0,0"
		END
    END
    BLOCK "VarFileInfo"
    BEGIN
		VALUE "Translation", 0x409, 1200
    END
END
